# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* learning different tools in data science
* knowing the pros and cons of working on a clould development environment
* getting more knowledge about machine learing tools

Some of the popular languages that Data Scientists use are:1- python
2- R
3- SQL

Some of the commonly used libraries used by Data Scientists include:
1- Numpy 
2- Pandas
3- tensorflow

| Data Science Tools |
|--- |
| jupyter notebook |
| Rstudio |
| VS code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
mohamed